# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

# Java/Kotlin
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# 本地配置文件
local.properties
*.env

# 编译输出
bin/
target/
gen/

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Mac OS
.DS_Store

# 特定应用程序生成的文件
*.hprof
.attach_*

