# Gradle
.gradle/
build/
gradle-app.setting
# !gradle-wrapper.jar
.gradletasknamecache

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

# Java/Kotlin
*.class
*.log
gc.log*
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Kotlin compiler
.kotlin/
*.kotlin_module
*.kotlin_metadata
*.kotlin_builtins

# 本地配置文件
local.properties
*.env

# 编译输出
bin/
target/
gen/
**/*.class

# Eclipse
.classpath
.project
.settings/

# VS Code
.vscode/

# Mac OS
.DS_Store

# 特定应用程序生成的文件
*.hprof
.attach_*

# keep Gradle wrapper scripts
!gradlew
!gradlew.bat

# keep the wrapper directory itself
!gradle/
# but since we ignore *.jar above, explicitly re-allow these:
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties

# keep the database file
kls_database.db

app/test_output.txt

